USE [master]
GO
/****** Object:  Database [Album]    Script Date: 14/7/2026 09:05:22 ******/
CREATE DATABASE [Album]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Album', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Album.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Album_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Album_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Album].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Album]
GO
/****** Object:  User [alumno]    Script Date: 14/7/2026 09:05:22 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Figuritas]    Script Date: 14/7/2026 09:05:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Figuritas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[contadorRepe] [int] NOT NULL,
	[figu] [int] NOT NULL,
	[IdJugador] [int] NOT NULL,
 CONSTRAINT [PK_Figuritas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 14/7/2026 09:05:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Número] [int] NOT NULL,
	[Edad] [int] NOT NULL,
	[Peso] [float] NOT NULL,
	[Club] [varchar](50) NOT NULL,
	[Posición] [varchar](50) NOT NULL,
	[IdSeleccion] [int] NOT NULL,
	[Camiseta] [int] NOT NULL,
 CONSTRAINT [PK_Jugadores] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Selecciones]    Script Date: 14/7/2026 09:05:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Selecciones](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Grupo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Selecciones] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Jugadores] ON 

INSERT [dbo].[Jugadores] ([ID], [Nombre], [Apellido], [Número], [Edad], [Peso], [Club], [Posición], [IdSeleccion], [Camiseta]) VALUES (1, N'Lionel', N'Messi', 10, 39, 67, N'Inter Miami', N'Delantero', 1, 10)
INSERT [dbo].[Jugadores] ([ID], [Nombre], [Apellido], [Número], [Edad], [Peso], [Club], [Posición], [IdSeleccion], [Camiseta]) VALUES (2, N'Julián', N'Álvarez', 9, 26, 71, N'Atlético de Madrid', N'Delantero', 1, 9)
INSERT [dbo].[Jugadores] ([ID], [Nombre], [Apellido], [Número], [Edad], [Peso], [Club], [Posición], [IdSeleccion], [Camiseta]) VALUES (3, N'Emiliano', N'Martínez', 23, 33, 88, N'Aston Villa', N'Arquero', 1, 23)
SET IDENTITY_INSERT [dbo].[Jugadores] OFF
GO
SET IDENTITY_INSERT [dbo].[Selecciones] ON 

INSERT [dbo].[Selecciones] ([ID], [Nombre], [Grupo]) VALUES (1, N'Argentina', N'A')
INSERT [dbo].[Selecciones] ([ID], [Nombre], [Grupo]) VALUES (2, N'Francia', N'D')
INSERT [dbo].[Selecciones] ([ID], [Nombre], [Grupo]) VALUES (3, N'España', N'E')
SET IDENTITY_INSERT [dbo].[Selecciones] OFF
GO
ALTER TABLE [dbo].[Figuritas]  WITH CHECK ADD  CONSTRAINT [FK_Figuritas_Jugadores] FOREIGN KEY([IdJugador])
REFERENCES [dbo].[Jugadores] ([ID])
GO
ALTER TABLE [dbo].[Figuritas] CHECK CONSTRAINT [FK_Figuritas_Jugadores]
GO
ALTER TABLE [dbo].[Jugadores]  WITH CHECK ADD  CONSTRAINT [FK_Jugadores_Selecciones1] FOREIGN KEY([IdSeleccion])
REFERENCES [dbo].[Selecciones] ([ID])
GO
ALTER TABLE [dbo].[Jugadores] CHECK CONSTRAINT [FK_Jugadores_Selecciones1]
GO
USE [master]
GO
