<h1>Album del mundial - FIFA 2026 USA, MEX, CAN</h1>

<form action="@Url.Action("Album", "Home")" method = "POST">
    
    <button>Abrir sobre del album de figus del mundial FIFA 2026 USA, MEX, CAN⚽</button>

</form>
